.App{
  font-size: 18px;
}
.sticky_sidebar{
  /* background-color: #2196f3;
  background-color: #4fc3f7; */
  /* background-color:#00b0f0; */
  background-color: #00b0f0;
  height: 100vh;
}
.content{
  padding-top: 50px !important;
  font-size: 20pt;
  background-color: #EBEBEB;
  min-height: 100vh;
}

.content ul{
  padding: 0px 100px
}
.content ul li::before{
  content:none;
}

.row{
  margin-bottom: 0px
}

.row::after{
  display: inline;
}

.row .col{
  min-height: 100vh;
  padding: 0;
}

.home{
  width: 100%;
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: auto;
}

.column a {
  color:#292929
}
.column a:hover {
  color:#70bfe6
}

.column a:hover .card {
  border: 2px solid #4fc3f7;
  color: black;
}

/* Clear floats after the columns */
.content-row:after {
  content: "";
  display: table;
  clear: both;
}


.card-content{
  font-size: 15pt;
  height:auto;
}

nav {
  color: inherit;
  background-color: inherit;
  border: none;
  box-shadow:none;
}

nav ul {
  justify-content: center;
}

.container .pagination-row{
  width: 100%;
}
.padding-left {
  padding-left: 30px;
}
.content{
  padding-top: 500px;
}

@media only screen and (max-width: 600px) {

  .content{
    padding-left: 10px !important;
  }
  
  .content ul{
    padding: 0px 0px
  }

  .column {
    float: left;
    width: 100%;
    padding: 10px;
    height: auto;
  }
  
  /* Clear floats after the columns */
  .content-row:after {
    content: "";
    display: table;
    clear: both;
  }
}
